.dashboard{
    height: 90vh;
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.gameHolder{
    height: 85vh;
    width: 40vw;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgba(42, 136, 212, 0.219);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    
}
.singleGame{
    height: 85vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgba(12, 123, 214, 0.219);
    border-radius: 10px;
}
.smallGame{
    width: 30vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(35, 61, 77, 0.281); */
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding-left: 25px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    box-shadow: 4px 4px 4px 4px rgba(53, 6, 6, 0.452);
    
}
.tabs{
    width: 40vw;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
  }
  .login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    color: black;
    background-color: rgb(143, 177, 197);
  }
.smallPicture{
    height: 75px;
    width: 75px;
}
.largePicture{
    height: 25vh;
    width: 25vh;
    position: absolute;
    right: 30vw;
}
.bar{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.together{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    position: relative;
    top: 25px;
}
.displayComments{
    height: 26vh;
    width: 48.7vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 25px;
    
}
.profile{
    height: 85vh;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgba(42, 136, 212, 0.219);
    border-radius: 10px;
}
.profile-picture{
    height: 30vh;
    width: 30vh;
}
.profile-page{
    height: 91vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bar{
    /* background-color: rgba(97, 162, 223, 0.404); */
    /* background-color: rgba(238, 135, 135, 0.432); */
    background-color: whitesmoke;
    border-color: black;
    /* border-style: solid; */
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-radius: 15px; */
}
.form-button{
    background-color: rgba(28, 81, 124, 0.466);
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border-color: transparent;
}
#textBody{
    height: 20vh;
    width: 35vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: #F5F5F5;
    height: 80%;
}
#style-2::-webkit-scrollbar
{
    width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(41, 102, 214, 0.356);
}
.search{
    width: 12vw;
    height: 2vh;
    background-color: whitesmoke;
    border-radius: 3px;
    border-color: transparent;
}
.search-button{
    background-color: rgba(96, 96, 148, 0.548);
    position: relative;
    left: 5px;
    width: auto;
    min-width: 110px;
    height: auto;
    border-radius:  3px;
    border-color: transparent;
}
.search-button2{
    background-color: rgba(96, 96, 148, 0.548);
    position: relative;
    left: 5px;
    width: 5vw;
    height: auto;
    border-radius:  3px;
    border-color: transparent;
}
.commentArea{
    /* background-color: rgba(88, 93, 100, 0.322); */
    height: 32vh;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 10px;
}
textarea{
    width: 25vw;
    height: 5vh;
}
.addComment{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment{
    background-color: rgba(238, 135, 135, 0.432);
    /* background-color: rgba(97, 162, 223, 0.404); */
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 2px;
    width: 46vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.desc{
    /* background-color: rgba(238, 135, 135, 0.432); */
    /* background-color: rgba(97, 162, 223, 0.404); */
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 15vh;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.title{
    /* background-color: rgba(97, 162, 223, 0.404); */
    /* background-color: rgba(238, 135, 135, 0.432); */
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: auto;
    height: 5vh;
    border-radius: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.ads1{
    transform: rotate(90deg);
    transform-origin: left top 0;
    background-color: whitesmoke;
    height: 10vh;
    width: 12vw;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: absolute;
}
.ads2{
    transform: rotate(90deg);
    transform-origin: left top 0;
    background-color: whitesmoke;
    height: 10vh;
    width: 12vw;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    right: -1vw;
}
.ads-space{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 55vw;
    height: 25vh;
    left: 8.5vw;
}
.comment-picture{
    height: 4.5vh;
    width: 4.5vh;
    background-color: rgba(41, 194, 194, 0.404);
    border-radius: 50%;
}
.rate-button{
    background-color: rgba(96, 96, 148, 0.548);
    position: relative;
    left: 5px;
    width: 110px;
    height: 2.5vh;
    border-radius:  3px;
    border-color: transparent;
}
.large-hidden{
    visibility: hidden;
}
.rating-hidden{
    position: relative;
    top: 2.8vh;
}
.chats{
    background-color: rgba(179, 36, 11, 0.589);
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    border-radius: 15px;
    padding-left: 10px;
    width: 38vw;
}
.display-chats{
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 45vh;
    width: 39.5vw;
    margin-left: 0.5vw;
}
.dropdown{
    background-color: rgba(70, 171, 202, 0.432);
    border-radius: 20px;
    height: 30px;
    width: 110px;
    border-style: hidden;
    display: flex;
    justify-content: center;
}
.liked{
    height: 20px;
    width: 20px;
}
.in-game{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media(max-width: 875px){
    .hello-world{
        height: 4vh;
        position: relative;
        bottom: 65%;
    }
    .chats{
        width: 7vw;
    }
    .display-chats{
        width: 79vw;
        height: 40vh;
    }
    .rating-hidden{
        visibility: hidden;
    }
    .dashboard{
        height: 180vh;
        width: 99vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .large-hidden{
        visibility: visible;
        position: relative;
        bottom: 11vh;
    }
    .desc{
        width: 60vw;
    }
    .small-hidden{
        visibility: hidden;
    }
    .head{
        justify-content: space-evenly;
        width: 99vw;
    }
    #textBody{
        width: 60vw;
    }
    .bar{
        height: 10vh;
    }
    .rating{
        height: 10vh;
        position: relative;
        bottom: 2vh;
    }
    .rate-button{
        height: 5vh;
    }
    .displayComments{
        width: 75vw;
    }
    .gameHolder{
        width: 80vw;
        position: relative;
        top: 5vh;
    }
    .singleGame{
        width: 80vw;
        position: relative;
        top: 10vh;
    }
    .smallGame{
        width: 65vw;    
    }
    .comment{
        width: 70vw;
        
    }
    .search{
        width: 20vw;
        height: 3vh;
    }
    .search-button{
        width: 110px;
        height: 4vh;
    }
    .search-button2{
        width: 110px;
        height: 4vh;
    }
    
    .ads1{
        background-color: transparent;
        color: transparent;
    }
    .ads2{
        background-color: transparent;
        color: transparent;
    }
    .largePicture{
        height: 25vh;
        width: 25vh;
       position: relative;
       left: 12%;
    }
    .profile-page{
        height: 180vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .profile{
        width: 80vw;
        position: relative;
        top: 2.5vh;
    }
    .tabs{
        width: auto;
        /* position: relative;
        left: 5vw; */
    }
    .user-buttons{
        display: flex;
        flex-direction: column;
    }
}